@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

:root {
  --header-height: 4.5rem;

  --base-color: #a6b1e1;
  --text-color: #424874;
  --body-color: #f4eeff;
  --header-color: #dcd6f7;

  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;
  --title-font: 'Poppins', sans-serif;
  --body-font: 'Nunito', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--body-font);
  background: var(--body-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}

#header {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5rem;
  padding-right: 5rem;
  border-bottom: 1px solid #e4e4e4;
  display: flex;
  width: 100%;
  background-color: var(--header-color);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-height);
  font: 700 1.31rem var(--title-font);
  color: var(--text-color);
}

.logo .icon-chat {
  padding-right: 1rem;
  font-size: 2.5rem;
}

.logo span {
  color: whitesmoke;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
  cursor: pointer;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--base-color);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);
  position: absolute;
  left: 0;
  bottom: -1.5rem;
  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav ul li {
  text-align: center;
}

.section {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.fields {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.input {
  width: 50vw;
}

.output {
  width: 30vw;
}

textarea {
  resize: none;
  width: 100%;
  padding: 1.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: 0.05rem solid rgba(0, 0, 0, 0.2);
  outline: none;
}

h2 {
  margin-bottom: 1rem;
}

#text-input,
#text-output {
  height: 65vh;
  color: var(--text-color);
  text-align: justify;
  font-size: 1.25rem;
}

#text-output {
  background: url(/images/imagem.png);
  background-repeat: no-repeat;
  background-color: white;
  background-size: 70%;
  background-position: center;
  transition: all 250ms ease-in-out;
}

#text-output::placeholder {
  color: var(--text-color);
  text-align: center;
  font-size: 1.25rem;
  padding-top: 18rem;
}

ul#error {
  list-style: none;
  margin-top: 15px;
}

ul#error li {
  color: #495057;
  margin-bottom: 7px;
  transition: all 50ms ease-in-out;
}

#error li::before {
  content: url(/images/aviso.png);
  filter: invert(1);
  margin-right: 0.3em;
}

.buttons {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
}

button:hover {
  cursor: pointer;
}

#btn-encrypt,
#btn-copy {
  width: 10rem;
  height: 3rem;
  border: 0;
  color: white;
  font-weight: bold;
  background-color: var(--text-color);
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.5em;
}

#btn-decrypt,
#btn-clear {
  width: 10rem;
  height: 3rem;
  border: 0;
  color: white;
  font-weight: bold;
  background-color: var(--base-color);
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.5em;
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    var(--text-color) 0%,
    var(--header-color) 100%
  );
}

.text-about {
  padding: 2rem;
  margin-bottom: 2rem;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.image img {
  width: 15rem;
}

.divider-2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    var(--header-color) 0%,
    var(--text-color) 100%
  );
}

footer {
  background: var(--header-color);
}

footer.section {
  padding: 1rem 0;
}

footer .brand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

footer .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

footer .logo .icon-chat {
  padding-right: 1rem;
  font-size: 2.5rem;
}

footer .social {
  display: flex;
  justify-content: space-around;
}

footer .social a {
  display: inline-block;
  transition: 0.3s;
}

footer .social a:hover {
  transform: translateY(-5px);
}

footer i {
  font-size: 2.5rem;
  color: var(--text-color);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(232, 237, 252);
  text-align: center;
  animation: reveal 1500ms ease-in-out;
}

@keyframes reveal {
  50% {
    opacity: 1;
    background-color: rgba(232, 237, 252, 0.75);
  }

  100% {
    background-color: transparent;
    opacity: 0;
  }
}

.show-modal {
  display: block;
}

.modal p {
  display: inline-block;
  margin-top: 40vh;
  background-color: #0a3871;
  color: white;
  margin: inherit auto;
  padding: 3vh 5vw;
  border-radius: 0.5rem;
}

.remove-background {
  background-size: 0% !important;
}
